<div id="contGeneral">
    <div class="Titulos">
        <h3>¡Vamos a participar!</h3>
        <p>Todas las promociones</p>
    </div>
    <div id="cont-center">
        <div id="ContCajas">
            <app-box></app-box>
            <app-box></app-box>
            <app-box></app-box>
            <app-box></app-box>
            <app-box></app-box>
        </div>
    </div>
    <div id="boton-up" [ngxScrollTo]="'#contGeneral'">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="105" height="107.5" viewBox="0 0 105 107.5"><defs><style>.a{fill:#fa8e1a;}.b{fill:#fff;}.c{filter:url(#a);}</style><filter id="a" x="0" y="0" width="105" height="107.5" filterUnits="userSpaceOnUse"><feOffset dy="10" input="SourceAlpha"/><feGaussianBlur stdDeviation="2.5" result="b"/><feFlood flood-opacity="0.18"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs><g transform="translate(-1199.48 -2380.98)"><g class="c" transform="matrix(1, 0, 0, 1, 1199.48, 2380.98)"><circle class="a" cx="45" cy="45" r="45" transform="translate(7.5)"/></g><path class="b" d="M52.763.311a1.063,1.063,0,0,0-1.5,0l-20.2,20.2a5.573,5.573,0,0,0,7.882,7.882L46.7,20.64V45.715a5.316,5.316,0,0,0,10.631,0V20.64l7.752,7.752a5.573,5.573,0,1,0,7.882-7.882Z" transform="translate(1199.917 2400.49)"/></g></svg>
    </div>
</div>