<footer>
    <div class="row">
        <div class="col-12 col-md-8 cont-footer">
            <div class="col-12 col-md-4 flex justify-content-center">
                <img class="logo-footer" src="assets/images/LogoFooter.png" alt="Kaxan promociones">
            </div>
            <div class="col-12 col-md-8 flex align-items-center justify-content-center justify-content-md-start">
                <ul>
                    <li><a>Contáctanos</a></li>
                    <li><a>Acerca de KAXAN</a></li>
                    <li><a>Completa tu perfil</a></li>
                    <li><a>Términos y Condiciones</a></li>
                    <li><a>Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-4 flex align-items-center justify-content-center">
            <img class="icono-footer" src="assets/images/facebook-icono-footer.png" alt="Facebook">
            <img class="icono-footer" src="assets/images/instagram-icono-footer.png" alt="Instagram">
        </div>
    </div>
</footer>