<div id="cont-horizontal">
    <div class="cont-titulo">
        <h3>¡Vamos a participar!</h3>
        <p>Todas las promociones</p>
    </div>
    <div class="cont-center">
        <div class="cont-overflow">
            <div class="cont-cajas" id="cont-cajas">
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
            </div>
        </div>
    </div>
    <div class="cont-flechas">
        <div class="flechaDerecha" onclick="cambiarNext()">
            <img src="assets/images/flecha-derecha.png">
        </div>
        <div class="flechaIzquierda" onclick="cambiarBack()">
            <img src="assets/images/flecha-izquierda.png">
        </div>
    </div>
</div>