<div class="Background-Dashboard">
    <h2>Premios</h2>
    <form action="" method="post">

        <!--Caja de premios-->
        <div class="caja-dashboard premios">
            <div class="cont-copa">
                <img src="assets/images/copa.png" alt="CopaGanador">
            </div>
            <div class="cont-text-premios">
                <p class="text-patrocinador">Patrocinador</p>
                <p class="titulo">Nombre de la promoción</p>
                <div></div>
                <p class="text-bold">Premio:</p>
                <p>texto explicativo del premio ganado.</p>
                <button type="button">Ver sitio</button>
            </div>
        </div>
        <!--Termina / Caja de premios-->

        <div class="linea-premios"></div>
        <h4 class="titulo-premios-dashboard">Premios ganados anteriormente</h4>

        <!--Caja de premios-->
        <div class="caja-dashboard premios">
            <div class="cont-copa">
                <img src="assets/images/copa.png" alt="CopaGanador">
            </div>
            <div class="cont-text-premios">
                <p class="text-patrocinador">Patrocinador</p>
                <p class="titulo">Nombre de la promoción</p>
                <div></div>
                <p class="text-bold">Premio:</p>
                <p>texto explicativo del premio ganado.</p>
            </div>
        </div>
        <!--Termina / Caja de premios-->

        <!--Caja de premios-->
        <div class="caja-dashboard premios">
            <div class="cont-copa">
                <img src="assets/images/copa.png" alt="CopaGanador">
            </div>
            <div class="cont-text-premios">
                <p class="text-patrocinador">Patrocinador</p>
                <p class="titulo">Nombre de la promoción</p>
                <div></div>
                <p class="text-bold">Premio:</p>
                <p>texto explicativo del premio ganado.</p>
            </div>
        </div>
        <!--Termina / Caja de premios-->
    </form>
</div>