<div id="cont-horizontal-recomendaciones">
    <div class="cont-titulo">
        <h3>¿Lo volvemos a intentar?</h3>
        <p>Basado en tu última visita</p>
    </div>
    <div class="cont-center">
        <div class="cont-overflow">
            <div class="cont-cajas" id="cont-cajas-recomendaciones">
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
                <app-box></app-box>
            </div>
        </div>
    </div>
    <div class="cont-flechas">
        <div class="flechaDerecha" onclick="cambiarNext2()">
            <img src="assets/images/flecha-derecha.png">
        </div>
        <div class="flechaIzquierda" onclick="cambiarBack2()">
            <img src="assets/images/flecha-izquierda.png">
        </div>
    </div>
</div>