<div id="dashboard-menu">
    <div class="cont-perfil">
        <div class="flex-center">
            <div>
                <div class="cont-photo">
                    <!-- 
                            El porcentaje se maneja partiendo un circulo en 4 secciones y se pinta cada seccion de color "NaranjaKaxan" $colorKaxan: #FF8400;
                            Se debe buscar y cambiar el ID "#circulo-porcentaje"
                        -->
                    <div id="circulo-porcentaje"></div>

                    <!--Imagen del perfil como "background-image"-->
                    <div id="circulo-foto"></div>
                </div>
            </div>
        </div>
        <!--Se muestra solo en la version Tablet & Mobile-->
        <div class="datos">
            <h3>Arturo Ocampo</h3>
            <p>70% Perfil Completado</p>
        </div>
    </div>
    <div class="menu-dashboard">
        <ul>
            <li onclick="MenuDashboardDesktop(1)">
                <img id="img-info-menu" src="assets/images/info.png" alt="Información general">
                <a id="info-menu">Información general</a>
            </li>
            <li onclick="MenuDashboardDesktop(2)">
                <img id="img-preferencias-menu" src="assets/images/preferencias-gris.png" alt="Preferencias">
                <a id="preferencias-menu">Preferencias</a>
            </li>
            <li onclick="MenuDashboardDesktop(3)">
                <img id="img-historial-menu" src="assets/images/historial-gris.png" alt="Historial de Promociones">
                <a id="historial-menu">Historial de promos</a>
            </li>
            <li onclick="MenuDashboardDesktop(4)">
                <img id="img-premios-menu" src="assets/images/premios-gris.png" alt="Premios">
                <a id="premios-menu">Premios</a>
            </li>
        </ul>
    </div>
</div>
<!--Termina Header Dashboard-->