<div id="promo-pagadas">
    <div class="cont-titulo">
        <h3>¡Super Promociones!</h3>
        <p>Estas no te las puedes perder</p>
    </div>
    <div class="carousel-promos">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cont-promos">
                        <div class="cont-img-promos">
                            <div class="col-12 col-md-6">
                                <img src="assets/images/PromoPagada-1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="assets/images/PromoPagada-2.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cont-promos">
                        <div class="cont-img-promos">
                            <div class="col-12 col-md-6">
                                <img src="assets/images/PromoPagada-3.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="assets/images/PromoPagada-4.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cont-promos">
                        <div class="cont-img-promos">
                            <picture>
                                <source media="(min-width:769px)" srcset="assets/images/PromoPagada.png">
                                <img src="assets/images/PromoPagada-TabletMobile.png" class="d-block w-100" alt="...">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span aria-hidden="true">
                    <img src="assets/images/flecha-izquierda.png" alt="">
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span aria-hidden="true">
                    <img src="assets/images/flecha-derecha.png" alt="">
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>