<div class="Background-Dashboard">
    <h2>Preferencias</h2>
    <p>Selecciona tus preferencias, solo te mostraremos las promos con estos premios.</p>

    <div class="flex-center">
        <div class="caja-dashboard-preferencias">

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Dinero en<br>efectivo</p>
                    </div>
                    <img src="assets/images/efectivo.png" alt="Dinero en Efectivo">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Viajes</p>
                    </div>
                    <img src="assets/images/viajes.png" alt="Viajes">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Tarjetas de<br>regalo</p>
                    </div>
                    <img src="assets/images/credito.png" alt="Tarjetas de regalo">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Autos &<br>Motos</p>
                    </div>
                    <img src="assets/images/autos.png" alt="Autos">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Dispositivos<br>Electrónicos</p>
                    </div>
                    <img src="assets/images/electronicos.png" alt="Dispositivos electronicos">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Ropa &<br>accesorios</p>
                    </div>
                    <img src="assets/images/ropa.png" alt="Ropa & Accesorios">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Boletos de<br>cine</p>
                    </div>
                    <img src="assets/images/cine.png" alt="Boletos de cine">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Productos<br>varios</p>
                    </div>
                    <img src="assets/images/productosVarios.png" alt="Productos Varios">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Despensas</p>
                    </div>
                    <img src="assets/images/despensas.png" alt="Despensas">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Juguetes</p>
                    </div>
                    <img src="assets/images/juguetes.png" alt="Juguetes">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Eventos</p>
                    </div>
                    <img src="assets/images/eventos.png" alt="Eventos">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

            <!--BOX DE PREFERENCIAS-->
            <div class="img-box">
                <div class="preferencia">
                    <div class="cont-texto-preferencias" onclick="marcado(this)">
                        <p>Casas &<br>departamentos</p>
                    </div>
                    <img src="assets/images/casas.png" alt="Casas & Departamentos">
                </div>
            </div>
            <!--TERMINA / BOX DE PREFERENCIAS-->

        </div>
    </div>
    <div class="cont-boton-dashboard-preferencias">
        <button type="button">Guardar cambios</button>
    </div>

</div>