<div class="Background-Dashboard">
    <h2>Información general</h2>
    <form action="" method="post">


        <div class="caja-dashboard">
            <div class="input-100">
                <p class="text-input">Nombre de usuario</p>
                <input type="text" placeholder="Escribe un nombre de usuario">
            </div>
            <div class="input-50">
                <div class="col-md-12 col-lg-6 padding-left-none">
                    <p class="text-input">Contraseña</p>
                    <input type="password" placeholder="Escribe una contraseña">
                </div>
                <div class="col-md-12 col-lg-6 padding-right-none">
                    <p class="text-input">Repite Contraseña</p>
                    <input class="margin-none" type="password">
                </div>
            </div>
            <div class="input-100">
                <p class="text-input">Email</p>
                <input type="email" placeholder="Escribe un email">
            </div>
            <div class="box-texto">
                <a>Editar información</a>
            </div>
        </div>


        <div class="caja-dashboard">
            <div class="input-50">
                <div class="col-md-12 col-lg-6 padding-left-none">
                    <p class="text-input">Nombre</p>
                    <input type="text" placeholder="Escribe tu nombre">
                </div>
                <div class="col-md-12 col-lg-6 padding-right-none">
                    <p class="text-input">Apellidos</p>
                    <input class="margin-none" type="text" placeholder="Escribe apellidos">
                </div>
            </div>
            <div class="input-100">
                <p class="text-input">Fecha de nacimiento</p>
                <input type="date">
            </div>
            <div class="input-100">
                <p class="text-input">Teléfono</p>
                <input type="number" placeholder="Ej: 55 1234 5678">
            </div>
            <div class="box-texto">
                <a>Editar información</a>
            </div>
        </div>

        <div class="caja-dashboard">
            <div class="input-100">
                <p class="text-input">Dirección</p>
                <input type="text" placeholder="Calle">
            </div>
            <div class="input-50">
                <div class="col-md-12 col-lg-6 padding-left-none">
                    <input type="text" placeholder="No.Interior">
                </div>
                <div class="col-md-12 col-lg-6 padding-right-none">
                    <input class="margin-none" type="text" placeholder="No.Exterior">
                </div>
            </div>
            <div class="input-50">
                <div class="col-md-12 col-lg-6 padding-left-none">
                    <input type="text" placeholder="Código Postal">
                </div>
                <div class="col-md-12 col-lg-6 padding-right-none">
                    <input class="margin-none" type="text" placeholder="Colonia">
                </div>
            </div>
            <div class="input-100">
                <select name="" id="">
                    <option value="0">Selecciona un Estado</option>
                    <option value="1">Estado 1</option>
                </select>
            </div>
            <div class="input-100">
                <select name="" id="">
                    <option value="0">Selecciona una Alcaldía / Municipio</option>
                    <option value="1">Opción 1</option>
                </select>
            </div>
            <div class="box-texto">
                <a>Editar información</a>
            </div>
        </div>

        <div class="cont-boton-dashboard">
            <button type="button">Guardar cambios</button>
        </div>

    </form>
</div>