<div class="flex">
    <div id="dashboard-menu">
        <div class="cont-perfil">
            <div class="flex-center">
                <div>
                    <div class="cont-photo">

                        <!--https://codepen.io/JMChristensen/pen/AGbeEy-->

                        <!--NUEVO CIRCULO DE IMAGEN Y PORCENTAJE-->
                        <!--Tamaño de la imagen debe ser 152x152px-->
                        <div id="cont" data-pct="100">
                            <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                  <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                  <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            </svg>
                            <div class="cont-center">
                                <div class="profile">
                                    <div class="profile-image">
                                        <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Eliminar una vez este funcionando el script-->
                        <input id="percent" name="percent">
                        <!--Termina circulo de porcentaje-->


                    </div>
                </div>
            </div>
            <!--Se muestra solo en la version Tablet & Mobile-->
            <div class="datos">
                <h3>{{ this.vistaUsuario.userName }}</h3>
                <p>{{ this.vistaUsuario.percentage }}% Perfil Completado</p>
            </div>
        </div>
        <div class="menu-dashboard">
            <ul>
                <!--<li onclick="MenuDashboardDesktop(1)">
                    <img id="img-info-menu" src="assets/images/info.png" alt="Información general">
                    <a id="info-menu">Información general</a>
                </li>
                <li onclick="MenuDashboardDesktop(2)">
                    <img id="img-preferencias-menu" src="assets/images/preferencias-gris.png" alt="Preferencias">
                    <a id="preferencias-menu">Preferencias</a>
                </li>
                <li onclick="MenuDashboardDesktop(3)">
                    <img id="img-historial-menu" src="assets/images/historial-gris.png" alt="Historial de Promociones">
                    <a id="historial-menu">Historial de promos</a>
                </li>
                <li onclick="MenuDashboardDesktop(4)">
                    <img id="img-premios-menu" src="assets/images/premios-gris.png" alt="Premios">
                    <a id="premios-menu">Premios</a>
                </li>-->
                <li>
                    <a (click)="cambiaSeccion(0)" [ngClass]="{'dashboardMenuActive': miseccion == 0 }" class="dashboardMenuActive"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>  Información general</a>
                </li>
                <li>
                    <a (click)="cambiaSeccion(1)" [ngClass]="{'dashboardMenuActive': miseccion == 1 }" class="dashboardMenu"><i class="fa fa-heart fa-2x" aria-hidden="true"></i>  Preferencias</a>
                </li>
                <li>
                    <a (click)="cambiaSeccion(2)" [ngClass]="{'dashboardMenuActive': miseccion == 2 }" class="dashboardMenu"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i>  Historial de promos</a>
                </li>
                <li>
                    <a (click)="cambiaSeccion(3)" [ngClass]="{'dashboardMenuActive': miseccion == 3 }" class="dashboardMenu"><i class="fa fa-trophy fa-2x" aria-hidden="true"></i>  Premios</a>
                </li>


            </ul>
        </div>
    </div>
    <!--Termina Header Dashboard-->





    <div class="width100" *ngIf="miseccion == 0">
        <app-dashboard-infogeneral></app-dashboard-infogeneral>
    </div>
    <div class="width100" *ngIf="miseccion == 1">
        <app-dashboard-preferencias></app-dashboard-preferencias>
    </div>
    <div class="width100" *ngIf="miseccion == 2">
        <app-dashboard-historial></app-dashboard-historial>
    </div>
    <div class="width100" *ngIf="miseccion == 3">
        <app-dashboard-premios></app-dashboard-premios>
    </div>



</div>