<div class="Background-Dashboard">
    <h2>Historial de Promos</h2>
    <p>Promociones vistas este mes</p>
    <form action="" method="post">


        <div class="caja-dashboard historial">
            <h3>Este mes</h3>
            <table>
                <thead>
                    <tr>
                        <td>Vigencia</td>
                        <td>Nombre de la promoción</td>
                        <td>Patrocinador</td>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle color-ambar"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle color-rojo"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="caja-dashboard historial">
            <h3>Mes anterior</h3>
            <table>
                <thead>
                    <tr>
                        <td>Vigencia</td>
                        <td>Nombre de la promoción</td>
                        <td>Patrocinador</td>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle color-ambar"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>
                    <tr>
                        <td>
                            <!--Circulo de status de la vigencia-->
                            <div class="status-viewcont-menu">
                                <div class="status-circle color-rojo"></div>
                            </div>
                        </td>
                        <td><a>Nombre de la promoción</a></td>
                        <td>Patrocinador</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="cont-boton-dashboard">
            <button type="button">Mostrar todo</button>
        </div>

    </form>
</div>